
.vs/KataJune13/v17/.suo
bin/Debug/net5.0/KataJune13.dll
bin/Debug/net5.0/KataJune13.exe
bin/Debug/net5.0/KataJune13.pdb
bin/Debug/net5.0/KataJune13.runtimeconfig.dev.json
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/KataJune13.assets.cache
obj/Debug/net5.0/KataJune13.csproj.FileListAbsolute.txt
obj/Debug/net5.0/KataJune13.dll
obj/Debug/net5.0/KataJune13.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/KataJune13.genruntimeconfig.cache
obj/Debug/net5.0/KataJune13.pdb
obj/Debug/net5.0/ref/KataJune13.dll
obj/Debug/net5.0/refint/KataJune13.dll
obj/KataJune13.csproj.nuget.dgspec.json
obj/KataJune13.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
